<% title "Producenci" %>

<% @producents.each do |producent| %>
<article class="index">
  <div class="attribute">
  <img src="<%= producent.link %>" height="100" width="150" />
  <%= link_to '-->', telefons_path() %>
  </div>
</article>
<% end %>
<div class="link">
  <%= link_to 'New Producent', new_producent_path %>
</div>
