<% title "Edytowany telefon" %>

<div class="form edit">
  <%= render 'form' %>
  <div class="link">
    <%= link_to 'Pokaz', @telefon %> |
    <%= link_to 'Strona Glowna', producents_path %>
  </div>
</div>
