/*
=============================================== 01. HTML5 ✰ BOILERPLATE RESET FILE ===============================================
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, 
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; } 
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; } 
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align: middle; } 
pre, code, kbd, samp { font-family: monospace, sans-serif; } 
html { overflow-y: scroll; } 
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; } 
small { font-size: 85%; } 
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }  
sup { top: -0.5em; } 
sub { bottom: -0.25em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
::-moz-selection{ background: #fe57a1; color:#fff; text-shadow: none; }
::selection { background:#fe57a1; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #fe57a1; }

/* Clear Fix
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; display:block;overflow:hidden;visibility:hidden;width:0;height:0;}*/
.clearboth, .clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}


/*
=============================================== 02. BEBAS NEUE FONT-KIT ===============================================
*/
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('bebas-neue/BebasNeue-webfont.eot');
    src: url('bebas-neue/BebasNeue-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('bebas-neue/BebasNeue-webfont.woff') format('woff'),
         url('bebas-neue/BebasNeue-webfont.ttf') format('truetype'),
         url('bebas-neue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
nav, #topannounce, .comments, table thead, h1, h2, h3, h4, h5, h6 {font-family:'BebasNeueRegular', Arial, sans-serif; text-transform:uppercase;}


/*
=============================================== 03. ADDITIONAL COLOR ADJUSTMENTS ===============================================
*/

/* -------------------- A. Main Body Background and Text Color -------------------- */
body {background-color:#fbfbfb; color:#888888;  }  /* Body Background color and text */
footer {background:#2e2e2e;} /* Footer Background color */ /* Footer Background color */
#content-container, #sidebar-container {background:#ffffff; } /* Main White Content Background color - Default - #FFFFFF */

/* -------------------- B. Announcement and Button Misc Colors -------------------- */
#topannounce, .button, .caption-padding .button, #topannounce a {  border-color:#aaaaaa; } /* Border Color for Announcement Bar & buttons, Color Default - #aaaaaa */
a.button:hover, #topannounce a:hover {color:#444444;} /* Button and announcement bar link hover color, Color Default - #444444 */

/* -------------------- C. Headings Colors -------------------- */
h1, h2, h3, h4, h5, h6 {color:#ffffff;} /* Default Headings Color - #ffffff */
body h4, body h5, body h6 {color:#848484;} /* Default H5 and H6 Headings Color - #848484 */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color:#ffffff; } /* Headings Link Color - #ffffff */ 

/*
=============================================== 04. PRIMARY STYLES ===============================================
*/
body { 
font-size:13px;
line-height:20px;
min-width:960px;
font-family: Helvetica, Arial, Sans-Serif;} 
a {text-decoration:none;} /* Default link  (Color is controlled above but this can override it)  */
a:hover {text-decoration:underline;} /* Default link:hover*/
body img {margin-bottom:12px;}
* { margin: 0; outline: none; }
hr { display: block; height: 1px;  border: 0; border-top: 1px solid #101010; margin:25px 0 25px 0; }
select, input, textarea, button { font:99% sans-serif; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; margin-bottom:20px; }
ol { list-style-type: decimal; }
p {padding-bottom:18px;}
pre {border:1px solid #101010; padding:7px 15px; background:#f9f9f9; overflow:auto; word-wrap: break-word; line-height:14px; margin-bottom:15px;}
#main {margin:64px auto 0 auto;}
#main-base { overflow:hidden; height:0px;}
#content {float:right; margin-right:16px;} 
#content-container, #sidebar-container {padding-bottom:18px;}
#content-top {background:url(images/content-top.png); height:16px; margin-right:16px;}
#content-top-right {background: url(images/content-top-right.png); height:16px; width:16px; float:right; position:relative; left:16px;}
#content-container-bg-left {background:url(images/content-left.png) top left repeat-y; padding-left:16px; }
#content-container-bg-right {background:url(images/content-right.png) top right repeat-y; padding-right:16px;}
#content-bottom {background:url(images/content-bottom.png); height:16px; margin-right:16px;}
#content-bottom-right {background: url(images/content-bottom-right.png); height:16px; width:16px; float:right; position:relative; left:16px;}
#sidebar-top {background:url(images/content-top.png); height:16px; margin-right:16px;}
#sidebar-top-right {background: url(images/content-top-right.png); height:16px; width:16px; float:right; position:relative; left:16px;}
#sidebar-container-bg-left {background:url(images/content-left.png) top left repeat-y; padding-left:16px; }
#sidebar-container-bg-right {background:url(images/content-right.png) top right repeat-y; padding-right:16px;}
#sidebar-bottom {background:url(images/content-bottom.png); height:16px; margin-right:16px;}
#sidebar-bottom-right {background: url(images/content-bottom-right.png); height:16px; width:16px; float:right; position:relative; left:16px;}
.content-padding {padding:0px 20px;}
body .no-margin  {margin:0px;}
.alignleft {margin: 0 10px 10px 0; float:left; }
.alignright{ margin: 0 0 10px 10px; float: right;}
.aligncenter { display: block; margin: 0 auto 18px auto; text-align:center;}
.button, .caption-padding .button {font-size:12px; font-weight:bold;  font-family: Arial, sans-serif; position: relative; cursor: pointer; text-decoration: none;
	background-image: url(images/announce-gradient.png);
	background-position:top left;
	background-repeat: repeat-x;
	display: inline-block;
	padding: 8px 14px 8px 14px;
	line-height: 1;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 0 #2d2d2d;
	-webkit-box-shadow: 0 1px 0 #2d2d2d;
	box-shadow:  0 1px 0 #2d2d2d;
	border-left-style:solid;
	border-left-width:1px;
	border-top-style:solid;
	border-top-width:1px;
	border-right-style:solid;
	border-right-width:1px;
	border-bottom-style:solid;
	border-width:1px;
}
body .caption-padding .button {border-color:#fff555; -moz-box-shadow: 1px 1px 2px #555; -webkit-box-shadow: 1px 1px 2px #555; box-shadow:  1px 1px 2px #555;}
a.button:hover { background-position:bottom left; text-decoration:none;}
.button-colored, .caption-padding .button-colored {font-size:12px; font-weight:bold; font-family: Arial, sans-serif; position: relative; cursor: pointer; text-decoration: none;
	background-image: url(images/button-colored.png);
	background-position:top left;
	background-repeat: repeat-x;
	display: inline-block;
	padding: 7px 14px 7px 14px;
	line-height: 1;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 0 #2d2d2d;
	-webkit-box-shadow: 0 1px 0 #2d2d2d;
	box-shadow:  0 1px 0 #2d2d2d;
	border-style:solid;
	border-width:1px;
}
a.button-colored:hover, #contactform .button-colored:hover {-webkit-box-shadow: 1px 1px 4px #6a9ec9; -moz-box-shadow: 1px 1px 4px #6a9ec9; box-shadow: 1px 1px 4px #6a9ec9; background-position: 0px -25px; text-decoration:none;}
h1 a:hover , h2 a:hover , h3 a:hover , h4 a:hover , h5 a:hover , h6 a:hover { text-decoration:none;}
body h1 {  font-size:42px; line-height:43px;  margin-bottom:7px;}
h2 { font-size:30px;  line-height:32px; margin-bottom:7px;}
h3 { font-size:25px; line-height:28px; margin-bottom:7px; }
h4 { font-size:25px; line-height:24px;  margin-bottom:7px;}
h5 {font-size:22px; line-height:20px; margin-bottom:6px;}
h6 {font-size:18px; line-height:20px; margin-bottom:6px;}
h1.page-title {font-size:56px; line-height:54px; padding-top:20px;}
.page-title-dark {background:#000; color:#fff; padding:3px 5px 1px 5px;}
aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 {color:#2d2d2d;}
blockquote {font-style:italic; line-height:20px; font-size:14px;  background:url(images/blockquote.png) 15px 4px no-repeat; padding:5px 0 0 50px; margin-bottom:20px;}
ul.checkmark, ul.arrow {margin-left:7px;}
ul.checkmark li { margin-left:0px; background:url(images/checkmark.png) 0px 4px no-repeat; padding:0 0 2px 20px; list-style:none;}
ul.arrow li { margin-left:0px; background:url(images/sidebar-arrow.png) 0px 4px no-repeat; padding:0 0 2px 20px; list-style:none;}
/* Table Styling */
table {width:100%; margin:4px 0 0 0; font-size:14px;}
table td {padding:8px 8px 6px 8px;}
table thead th {padding:9px 6px 7px 7px; }
table thead {background:#000; color:#fff; font-size: 25px; text-align:left;  }
table tfoot td {padding:5px;}
table .t-headings-dark { color:#848484;}
table .odd {background:#f6f6f6;}
table .t-footer {background:#ededed; text-align:center; font-size:90%; font-style:italic;}
table img {margin:0px; padding:0px; }

/* -------------------- A. Sidebar Styles -------------------- */
header {padding:24px 0px 34px 0px; text-align:center;}
aside header img {border:none;}
aside {float:left; margin-left:16px; font-size:12px; line-height:18px;}
aside#right-aside {float:right; margin-left:18px; margin-right:16px;}
aside img {border:1px solid #e0e0e0; padding:5px;}
.twitter-heading {background:url(images/twitter-icon.png) top left no-repeat; padding:4px 0 8px 58px; }
#jtwt_picture {float:left;  padding:0px 10px 65px 0; }
#jtwt img { border:none; padding:0px; background:transparent; }
#jtwt { overflow:hidden; padding-bottom:14px; }
a#jtwt_date {color:#dadada !important; text-decoration:none; font-weight:bold; font-size:12px;  padding-top:2px;}
a#jtwt_date:hover {color:#c7c7c7 !important; text-decoration:none;}
.advertisements {margin-bottom:8px;}

/* -------------------- B. Blog-------------------- */
.comments {font-size:19px; float:right; position:relative; text-align:center; right:-35px; top:-2px;  }
.comments a {display:block;color:#fff !important; background:url(images/comments.png) top left no-repeat; width:30px; padding-top:6px; height:24px; }
.comments a:hover {background-position:0px -30px; text-decoration:none;}
.post-details {font-size:12px; color:#bbb; padding:11px 20px 10px; border-top:1px solid #101010; margin-top:6px;}
ol.commentlist {list-style:none; margin:0px; position:relative; top:-20px; margin-bottom:-20px;}
ol.commentlist ul.children {list-style:none; margin:0px -20px;}
ol.commentlist ul.children li {padding-left:90px;}
ol.commentlist li {padding:20px; }
ol.commentlist li.odd {background:#f8f8f8;}
ol.commentlist .reply {position:relative; float:right; right:0px; top:2px; text-indent:-9999999px;}
ol.commentlist .reply a {display:block; width:15px; height:16px; background:url(images/reply.png) top left no-repeat;}
ol.commentlist .reply a:hover {background:url(images/reply.png) 0px -16px no-repeat;}
ol.commentlist .avatarimage {float:left; width:50px; margin-right:20px; margin-bottom:18px;}
.pagination {padding-top:5px; text-align:right;}
.pagination a {-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 1px 1px #e7e7e7; -webkit-box-shadow: 0 1px 1px #e7e7e7; box-shadow:  0 1px 1px #e7e7e7; margin-right:1px;
	font-weight:bold; color:#999 !important; font-size:12px;  background:#f3f4f4 url(images/pagination.png) 0px 0px repeat-x;  cursor:pointer; display: inline-block; padding: 7px 14px 7px 14px; line-height: 1; border:1px solid #212121;}
.pagination a:hover {	background:#ddd url(images/pagination.png) 0px -35px repeat-x; text-decoration:none; color:#888 !important;}
.pagination a.selected {background:#ddd url(images/pagination.png) 0px -70px repeat-x; color:#fff !important; border:1px solid #bdbdbd !important;}
.pagination a.next, .pagination a.previous {padding:7px 22px 7px 22px;}

/* -------------------- C. Footer -------------------- */
footer { color:#fff; font-size:11px; line-height:14px; padding:22px 0px; margin-top:35px;}
#footer-container {margin:0 auto; }

/*
=============================================== 05. NAVIGATION ===============================================
*/

/* -------------------- A. Essential Navigation Styles -------------------- */
nav {z-index:1100; position:relative}
.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style:none;}
.sf-menu { line-height:	1.0; }
.sf-menu ul {	position: absolute;	top: -999em; /* left offset of submenus need to match (see below) */ }
.sf-menu ul li { width:	100%; }
.sf-menu li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }
.sf-menu li {	float:	left; position:	relative; }
.sf-menu a { display:block; position: relative; }
.sf-menu li:hover ul,
.sf-menu li.sfHover ul { left:	0; top: 2.5em; /* match top ul list item height */	z-index: 1003; }
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul { top:	-999em; }
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul { /* match ul width */ top:	0;  }
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {top:-999em; }
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul { /* match ul width */ top:0;  }
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {  outline: 0; }

/* -------------------- B. Navigation Skin -------------------- */
.sf-menu a { font-size:30px; line-height:1; border-bottom:	1px solid #101010; padding:7px 20px 4px 20px; text-decoration:none; }
.sf-menu li { background: transparent; }
.sf-menu li li a {font-size:18px; padding:10px 9px 7px 10px;}
.sf-menu ul {border:1px solid #2d2d2d; -moz-box-shadow: 1px 1px 4px #2d2d2d; -webkit-box-shadow: 1px 1px 4px #2d2d2d; box-shadow:  1px 1px 4px #2d2d2d;}
.sf-menu li li { background: #fff; }
.sf-menu li.sfHover li a, .sf-menu li.sfHover li.sfHover li a, .sf-menu li.sfHover li.sfHover li.sfHover li a, .sf-menu a, .sf-menu a:visited {color:#2d2d2d;}

/* -------------------- C. NAVIGATION WIDTH -------------------- */
#navigation-base {width:100%; height:25px; overflow:hidden;}
.sf-menu ul, .sf-vertical, .sf-vertical li {width: 100%; }
ul.sf-menu li li li.sfHover ul, .sf-vertical li:hover ul, .sf-vertical li.sfHover ul, ul.sf-menu li li.sfHover ul {left:100% ; }
