<% title "Porownywarka ;D" %>

<% @porownajs.each do |porownaj| %>
<article class="index">
  <div class="attribute">
	<img src="<%= porownaj.link %>" height="375" width="500" /></a>
  </div>
</article>
<% end %>

